
body{
    min-height: 75rem;
    padding-top: 4.5rem;    
}
nav,footer{
    background-color: #e3f2fd;
    color: #908da5;
   
}
p,h1{
    color: #046576;
}
.btn{
    background-color: #046576;
    color: #e3f2fd;
}

.connect{
    margin-top: 7rem;
}

#imgAnnonceProfil{
    width: 100%;
    height: 100%;
}
i.fa-star{
    color: #bfa764;
}

.questRep{
    font-size: 0.75em;
}

label{
    color: #046576;
    font-weight: bold;
}
.rangeslider__fill {
    background:  #046576;
}

a.nounderline{
    text-decoration:none;
}